{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          {% block header %}
          <h2 class="mb-4">{% block title %}Change Password{% endblock %}</h2>
          {% endblock %}
          
          <div class="card">
              <div class="card-body">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                      {{ form.current_password.label(class="form-label") }}
                      {{ form.current_password(class="form-control") }}
                    </div>
                    <div class="mb-3">
                      {{ form.new_password.label(class="form-label") }}
                      {{ form.new_password(class="form-control") }}
                    </div>
                    <div class="mb-3">
                      {{ form.repeat_password.label(class="form-label") }}
                      {{ form.repeat_password(class="form-control") }}
                    </div>
                  <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
