{% extends 'auth.html' %}

{% block content %}
<form method="post">
  {{ form.hidden_tag() }}
  {% block header %}
  <h1 class="h3 mb-3 fw-normal">{% block title %}Reset password{% endblock %}</h1>
  {% endblock %}
  <div class="form-floating mb-2">
    {{ form.email(class="form-control") }}
    {{ form.email.label(class="form-label") }}
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Reset password</button>
  <p class="mt-5 mb-3 text-body-secondary">Remember your password? <a href="{{ url_for('auth.login') }}">Sign in here</a>.</p>
</form>
{% endblock %}
