{% extends 'auth.html' %}

{% block content %}
<form method="post">
  {{ form.hidden_tag() }}
  {% block header %}
  <h1 class="h3 mb-3 fw-normal">{% block title %}Reset password{% endblock %}</h1>
  {% endblock %}
  <div class="form-floating">
    {{ form.new_password(class="form-control") }}
    {{ form.new_password.label(class="form-label") }}
  </div>
  <div class="form-floating">
    {{ form.repeat_password(class="form-control") }}
    {{ form.repeat_password.label(class="form-label") }}
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Reset password</button>
</form>
{% endblock %}
